.feed-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.feed-icon-wrapper .feed-icon-img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    vertical-align: middle;
    transition: opacity 0.2s ease;
}

.feed-icon-wrapper .feed-icon-default {
    font-size: 0.875em;
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    transition: opacity 0.2s ease;
}

.feed-icon-wrapper img:hover,
.feed-icon-wrapper i:hover {
    opacity: 0.8;
}
