@rendermode InteractiveServer
@using RssReader.Components.Shared

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RssReader</a>
    </div>
</div>

<input type="checkbox" 
       id="navbar-toggler"
       title="Navigation menu" 
       class="navbar-toggler"
       aria-label="Toggle navigation menu" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="@Constants.Routes.Home" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-2"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="@Constants.Routes.Feeds">
                <i class="bi bi-plus-square-fill me-2"></i> Feed
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="@Constants.Routes.Categories">
                <i class="bi bi-list-nested me-2"></i> Category
            </NavLink>
        </div>

        <CategoryNavList />
    </nav>
</div>
