.offcanvas {
    width: 400px;
}

@media (max-width: 576px) {
    .offcanvas {
        width: 100%;
    }
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
